*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

.arriba{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2{
    height: 80px;
    width: 100px;
    position: absolute;
    left: 15px;
    top: 0;
}